{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/MainPage/post-list.css' %}">
{% endblock extra_css %}

{% block title %}Стрічка{% endblock %}

{% block content %}
<div class="row justify-content-center mx-0">
    <div class="col-12 col-md-8 col-lg-6 post-feed-container">
        
        <div class="d-flex justify-content-between align-items-center my-4 px-2 px-md-0">
            <h4 class="fw-bold m-0 page-main-title">Для вас</h4>
            <a href="{% url 'post-create' %}" class="btn btn-dark btn-sm rounded-pill fw-bold px-3">Створити пост</a>
        </div>

        <div id="post-container">
            {% include 'posts/includes/post_items_loop.html' %}
        </div>

        <div id="loading-sentinel" class="text-center my-4" style="height: 50px;">
            <div class="spinner-border spinner-border-sm text-primary d-none" id="loader"></div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/MainPage/post-list.js' %}"></script>
{% endblock extra_js %}