<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'logout' %}" method="post" class="m-0">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger btn-round py-1 px-3" style="font-size: 0.8rem;">
            Вийти
        </button>
    </form>
    <h3><a href="{% url "post-create" %}">Create Post</a></h2>
    <hr>
    <h1>All Posts</h1>
    {% for post in posts_objects %}
        <p>Post name: {{ post.name }}</p>
        <a href="{% url 'post-detail' post.pk %}">Деталі поста</a>
    {% endfor %}
</body>
</html>