<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Update</title>
</head>
<body>
    <h1>You are will update a Post: {{ post_object.name }}</h1>
    <div style="margin-top: 20px;">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit">Update</button>
        </form>
    </div>
    <hr>
    <a href="{% url "post-detail" post_object.pk %}">Go back</a>
</body>
</html>