body { background-color: #fafafa !important; }
.fw-800 { font-weight: 800; }
.cursor-pointer { transition: transform 0.1s, color 0.2s; cursor: pointer; }
.cursor-pointer:active { transform: scale(0.9); }
.hover-red:hover { color: #ed4956; }

.post-media-container {
    min-height: 300px;
}

/* Анимация появления */
.post-detail-card {
    animation: postFade 0.5s ease-out;
}

@keyframes postFade {
    from { opacity: 0; filter: blur(5px); transform: translateY(10px); }
    to { opacity: 1; filter: blur(0); transform: translateY(0); }
}

.dropdown-item { font-size: 0.9rem; padding: 0.6rem 1rem; }